<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
     <style>
          body {
               font-family: Arial, Helvetica, sans-serif;
               margin: 0;
               padding: 0;
               background-color: #f4f4f4;
          }

          .container {
               max-width: 600px;
               margin: 2px auto;
               background-color: #ffffff;
               border-radius: 5px;
               overflow: hidden;
          }

          .header {
               background-color: #4caf50;
               color: #ffffff;
               padding: 20px;
               text-align: center;
          }

          .content {
               padding: 20px;
          }

          .footer {
               background-color: #ffffff;
               padding: 10px;
               color: #555555;
               text-align: center;
               font-size: 12px;
          }

          .button {
               display: inline-block;
               padding: 10px 20px;
               margin: 20px 0;
               color: #ffffff;
               text-decoration: none;
               border-radius: 5px;
               background-color: #4caf50;
          }

          @media (max-width: 600px){
               .container {
                    width: 100%;
                    margin: 0;
                    border-radius: 0;
               }
          }
     </style>
</head>
<body>
     <div class="container">
          <div class="header">
               <h1>Selamat Datang</h1>
          </div>
          <div class="content">
               <p>Halo <%= username %>,</p>

               <p>
                    Terimakasih telah mendaftar di layanan kami. Berikut adalah informasi dari akun Anda:
               </p>

               <ul>
                    <li><strong>Nama:</strong> <%= fullName %> </li>
                    <li><strong>Email:</strong> <%= email %> </li>
                    <li><strong>Tanggal Pendaftaran:</strong> <%= createdAt %> </li>
               </ul>

               <p>Untuk memulai, silahkan klik tombol dibawah</p>
               <a href="<%= activationLink %>" class="button">Aktifkan akun</a>

               <p>Jika ada yang ingin ditanyakan, jangan sungkan untuk bertanya</p>
          </div>
          <div class="footer">
               <p>&copy; 2024 ACARA Event Management. Semua HAK Dilindungi</p>
          </div>
     </div>
</body>
</html>